.card-img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
}

.card-img-top {
  position: relative;
}

.form-check {
  position: absolute;
  right: 1em;
  z-index: 5;
}

input {
  display: none;
}

input:checked ~ label {
  color: red;
}

label {
  font-size: 2em;
}
