<div class="container">
  <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col" *ngFor="let rental of rentals">
      <div class="card border-0">
        <div class="card-img-top">
          <div id="myCarousel-{{ rental.id }}" class="carousel slide">
            <div class="carousel-inner rounded-3">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="room-id-{{ rental.id }}"
                />
                <label for="room-id-{{ rental.id }}"
                  ><i class="bi bi-heart-fill"></i
                ></label>
              </div>
              <div
                class="carousel-item"
                *ngFor="let img of rental.images; let i = index"
                [ngClass]="{ active: i == 0 }"
              >
                <img [src]="img" class="card-img w-100" alt="Image" />
              </div>
              <a
                class="carousel-control-prev"
                type="button"
                href="#myCarousel-{{ rental.id }}"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                type="button"
                href="#myCarousel-{{ rental.id }}"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <a
            class="card-title h-5 text-decoration-none text-danger"
            routerLink="/rental/rentaldetail/{{ rental.id }}"
            routerLinkActive="active"
          >
            Artikel {{ rental.id }}
            <small>{{ rental.title }} rating in rentalmodel einfügen </small>
          </a>
          <p class="card-text">
            Carousel mit Indicator und Controls sowie Bilder des Artikel.
            Faviritentag in einer oberen Ecke
            {{ rental.category }}, Land, gastgeber zeitraum kosten/nacht
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
