<!-- <ng-container class="container">
  <div class="row row-cols-4">
    <div class="col" *ngFor="let room of rooms">
      <div class="card border-0">
        <div class="card-img-top">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="room-id-{{ room.id }}"
            />
            <label for="room-id-{{ room.id }}">&#9829;</label>
          </div>
          <img
            src="{{ room.images[0] }}"
            class="card-img w-100 rounded-3"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Unterkunft {{ room.id }}
            <small>4,5</small>
          </h5>
          <p class="card-text">
            Carousel mit Indicator und Controls sowie Bilder der Unterkunft.
            Faviritentag in einer oberen Ecke
            {{ room.name }}, Land, gastgeber zeitraum kosten/nacht
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->

<ng-container class="container">
  <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div class="col" *ngFor="let rental of rentals">
      <div class="card border-0">
        <div class="card-img-top">
          <div id="myCarousel-{{ rental.id }}" class="carousel slide">
            <div class="carousel-inner rounded-3">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="room-id-{{ rental.id }}"
                />
                <label for="room-id-{{ rental.id }}">&#9829;</label>
              </div>
              <div
                class="carousel-item"
                *ngFor="let img of rental.images; let i = index"
                [ngClass]="{ active: i == 0 }"
              >
                <img [src]="img" class="card-img w-100" alt="Image" />
              </div>
              <a
                class="carousel-control-prev"
                type="button"
                href="#myCarousel-{{ rental.id }}"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                type="button"
                href="#myCarousel-{{ rental.id }}"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <a
            class="card-title h-5 text-decoration-none text-danger"
            routerLink="/rental/rentaldetail/{{ rental.id }}"
            routerLinkActive="active"
          >
            Unterkunft {{ rental.id }}
            <small>{{ rental.title }} ratin in rentalmodel einfügen </small>
          </a>
          <p class="card-text">
            Carousel mit Indicator und Controls sowie Bilder der Unterkunft.
            Faviritentag in einer oberen Ecke
            {{ rental.title }}, Land, gastgeber zeitraum kosten/nacht
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
