<div class="card">
  <div class="card-header">
    <div class="h5">Erstelle eine neue Leihe</div>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col">
          <!-- Bezeichnung -->
          <label class="form-label">Bezeichnung</label>
          <input
            [(ngModel)]="rental.title"
            type="text"
            name="bezeichnung"
            class="form-control"
          />
        </div>
        <div class="col-2">
          <!-- ID -->
          <label class="form-label">ID</label>
          <input
            [(ngModel)]="rental.id"
            type="text"
            name="id"
            class="form-control"
          />
        </div>
      </div>

      <!-- <div class="col">
         Kategorie
        <label class="form-label">Kategorie</label>
        <select
          [(ngModel)]="selectedCategory"
          type="text"
          name="kategorie"
          class="form-control"
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div> -->

      <!-- <div class="col">
         Hersteller --
        <label class="form-label">Hersteller</label>
        <input
          [(ngModel)]="rental.title"
          type="text"
          name="hersteller"
          class="form-control"
        />
      </div> -->

      <div class="row">
        <div class="col">
          <!-- Lokation -->
          <label class="form-label">Lokation</label>
          <input
            [(ngModel)]="rental.city"
            type="text"
            name="lokation"
            class="form-control"
          />
        </div>
      </div>
      <!-- Beschreibung -->
      <div class="row">
        <div class="col">
          <label class="form-label">Beschreibung des Artikels</label>
          <input type="text" name="beschreibung" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Zubehör -->
          <label class="form-label">Zubehör</label>
          <input type="text" name="zubehör" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Bewertung -->
          <label class="form-label">Bewertung</label>
          <input type="text" name="bewertung" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Karte -->
          <p>Karte</p>
          <!--Google map-->
          <div
            id="map-container-google-2"
            class="z-depth-1-half map-container"
            style="height: 500px"
          >
            <iframe
              src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              style="border: 0"
              allowfullscreen
            ></iframe>
          </div>

          <!--Google Maps-->
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Besitzer -->
          <label class="form-label">&Uuml;ber den Besitzer</label>
          <input type="text" name="besitzer" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Upload data -->
          <div class="mb-3">
            <input type="file" class="file-input" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!-- Good to know -->
          <label class="form-label">Good to know</label>
          <input type="text" name="dinge" class="form-control" />
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button (click)="save()" class="btn btn-primary">Submit</button>
  </div>
</div>
